<div class="row">
  <div class="col-sm-4 project-wrap item" ng-repeat="project in vm.projects">
    <table class="table table-condensed table-hover white">
        <thead>
          <tr>
            <th colspan="3">
              <h4 ng-bind="project.Name"> </h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="task in project.ProjectTasks" ng-class="{success:task.currentlyTracking}">
            <td ng-bind="task.Name">
             
            </td>
            <td>
              <span ng-show="task.currentlyTracking">{{ task.runningTimeEntry.Hours | milToTimeString }}</span>
            </td>
            <td>
              <button class="btn btn-link btn-xs pull-right" ng-click="vm.initializeTracking(task, project)" ng-show="!task.currentlyTracking"><!-- <i class="fa fa-play"></i> -->start</button>
              <button class="btn btn-link btn-xs pull-right" ng-click="vm.stopTracking(task, project)" ng-show="task.currentlyTracking"><!-- <i class="fa fa-pause"></i> -->stop</button>
            </td>
          </tr>
          <tr ng-repeat-end ng-show="task.currentlyTracking" class="success">
            <td colspan="3">
              <div class="autoresize-wrapper">
                <textarea autoexpand class="comment-div" ng-model="task.runningTimeEntry.Comment" placeholder="add comment"></textarea>
              </div>
              <button class="btn btn-link btn-xs btn-block" ng-click="vm.saveComment(task)">save comment</button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

