<div class="table-responsive">
  <table class="table table-condensed table-hover view-table">
    <tbody>
      <thead>
        <h2> {{vm.date | date:"EEEE, MMM d"}} 
          <small>
            <!-- <button type="button" class="btn btn-link btn-lg pull-right" ng-click="vm.nextDay()">next</button>
            <button type="button" class="btn btn-link btn-lg pull-right" ng-click="vm.previousDay()">previous</button> -->

            
            <a href="{{vm.nextDayLink}}" class="pull-right btn btn-link" ng-class="{disabled:vm.viewingToday}"> next </a>
            <a href="{{vm.previousDayLink}}" class="pull-right btn btn-link"> previous </a>
            <input type="date" ng-model="vm.date" class="text-input pull-right" ng-change="vm.changeDate()">
          </small>
        </h2>
        
      </thead>
      <tr>
        <th>
          <h4> task </h4>
        </th>
        <th>
          <h4> project </h4>
        </th>
        <th>
          <h4> started </h4>
        </th>
        <th>
          <h4> ended </h4>
        </th>
        <th>
          <h4> total time </h4>
        </th>
        <th>
          <h4> comment </h4>
        </th>
        <!-- <th>
          <h5> billable</h5>
        </th> -->
      </tr>
      <tr ng-repeat="timeEntry in vm.timeEntries">
        <td ng-bind="timeEntry.ProjectTaskName">        
        </td>
        <td ng-bind="timeEntry.ProjectName">        
        </td>
        <td>
          <input type="time" class="text-input" ng-model="timeEntry.TimeIn" ng-change="vm.toggleTimeInChanged(timeEntry)">
          <button class="btn btn-link" ng-show="timeEntry.timeInChanged" ng-click="vm.saveTimeIn(timeEntry)">save</button>
        </td>
        <td>
          <input type="time" class="text-input" ng-model="timeEntry.TimeOut" ng-change="vm.toggleTimeOutChanged(timeEntry)">
          <button class="btn btn-link" ng-show="timeEntry.timeOutChanged" ng-click="vm.saveTimeOut(timeEntry)">save</button>
        </td>
        <td>
          <span >{{timeEntry.TotalTime | adjustedDuration }}</span>
        </td>
        <td>
          <div class="autoresize-wrapper">
            <textarea autoexpand ng-model="timeEntry.Comment" ng-change="vm.toggleCommentChanged(timeEntry)" class="comment-div" placeholder="add comment"></textarea>
          </div>
          <button class="btn btn-link btn-block" ng-show="timeEntry.commentChanged" ng-click="vm.saveComment(timeEntry)">save</button>
        </td>
       <!--  <td>
          {{timeEntry.Billable}}
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
<div class="row lead text-center" ng-show="!vm.timeEntries.length > 0">
      <em>no time entries</em>
</div>

