<div class="row">
  <div class="col-sm-4" ng-repeat="project in vm.projects | orderBy: project.Archived">
    <!-- <table class="table table-condensed table-hover" ng-class="{white: !project.Archived}"> -->
    <table class="table table-condensed table-hover white">
      <thead>
        <tr>
          <th>
            <h4 ng-bind="project.Name"></h4>
          </th>
          <th>
            <button type="button" class="btn btn-link btn-sm pull-right" ng-show="!project.Archived" ng-click="vm.toggleArchive(project)">Not Archived</button>
            <button type="button" class="btn btn-link btn-sm pull-right" ng-show="project.Archived" ng-click="vm.toggleArchive(project)">Archived</button>
          </th>
          <th>
            <button type="button" class="btn btn-link btn-sm pull-right" ng-click="vm.addTask(project)">Add Task</button>
          </th>
        </tr>
      </thead>
      <tbody>                
        <tr ng-repeat-start="task in project.ProjectTasks">
          <td ng-bind="task.Name">

          </td>
          <td>
            
            

          </td>
          <td>
            <button class="btn btn-link btn-xs pull-right" ng-click="task.isInEditMode = !task.isInEditMode">edit</button>

          </td>
        </tr>
        <tr ng-show="task.isInEditMode" ng-repeat-end>
          <td colspan="3">
            <button class="btn btn-link btn-xs btn-block" ng-show="!task.isRenaming" ng-click="task.isRenaming = true">rename</button>
            <input class="form-control text-center" type="text" ng-model="task.Name" ng-show="task.isRenaming" ng-blur="task.isRenaming = false" ng-keypress="vm.renameTask(task, project, $event)" >

            <button class="btn btn-link btn-xs btn-block" ng-show="task.RequireComment" ng-click="vm.toggleCommentRequirement(task, project)">comment required</button>
            <button class="btn btn-link btn-xs btn-block" ng-show="!task.RequireComment" ng-click="vm.toggleCommentRequirement(task, project)">comment not required</button>

            <button class="btn btn-link btn-xs btn-block" ng-show="task.Billable" ng-click="vm.toggleBillable(task, project)">billable by default</button>
            <button class="btn btn-link btn-xs btn-block" ng-show="!task.Billable" ng-click="vm.toggleBillable(task, project)">not billable by default</button>

             <button class="btn btn-link btn-xs btn-block"  ng-click="vm.deleteTask(task, project, $index)">delete</button>
             
          </td>
        </tr >
      </tbody>
    </table>
  </div>
</div>
<p>
  <button type="button" class="btn btn-lg btn-link" ng-click="vm.addProject()">Add Project</button>
</p>
