body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
td{
	vertical-align: middle;
	padding: 0;
}
table{
	margin-bottom: 0;
}
.panel-title{
	float: left;
	line-height: inherit;
	font-size: 1.6em;
}
.panel-heading-no-bg{
	padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
background-color: #E0E2EC;
}
.active-gray{
	background-color: #98ABBB;
	border-color: #A5ACB2;
}
.panel-body{
	padding: 0;
}
.list-group-item{
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}
.list-group-item:first-child {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}
.clear{
	clear: both;
}
.running{
	background-color: #97baa1;	
}
.unused{
	text-decoration: line-through;
}
.clickable-row:hover{
	background-color: #eeeeee;
	cursor: pointer;
}
.project-wrap{
/*	background-color: #fff;*/
/*	padding: 0;
	margin-left: 15px;
	margin-right: 15px;*/
}

tr td button{
	display: none;
}
tr:hover td button{
	display: block;
}
.white{
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 3px;
}
.navbar-white{
	background-color: rgba(252, 252, 252, 0.97);
	border-bottom: solid 2px #d2d2d2;
}
.active{
	background-color: #F0F0F0;
}
/* Sign In Stuff */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* TEST */